node_modules
dist
*.local

.DS_Store
*.sw?

# pnpm
pnpm-lock.yaml

# Server
server/data/risu.db
server/data/models/
server/data/images/
server/risu-server
server/risu-release-recorder

# Local build output
.build/
